<div class="wrapper">
  <div class="box-login">
    <img src="../../../../assets/img/svg/box-login.svg" alt="">
  </div>

  <div class="title d-flex justify-content-center">
    <span>
      CondNotify
    </span>
  </div>

  <div>
    <form [formGroup]="form" action="" class="cpf-password d-flex justify-content-center">
      <mat-form-field>
        <mat-label>CPF:</mat-label>
        <input matInput formControlName="cpf" mask="000.000.000-00">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha:</mat-label>
        <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <section class="w-100 d-flex justify-content-center">
    <button mat-flat-button class="btn-login" (click)="login()">Entrar</button>
  </section>

  <footer class="">
    <div>
      ©trsystems
    </div>
    <div>
      V1.0.0
    </div>
  </footer>
</div>
